*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.main{
    width:600px;
    max-width: 90%;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.main > h1 {
    font-size: 30px;
    color: rgb(26,25, 25);
    margin: 0 0 30px 0;

}
.main >form >input{
    width: 100%;
    padding: 15px;
    background-color: #ccc;
    color: gray;
    border: 0;
    margin: 10px 5px;
    border-radius: 8px;
}
.main > form >button{
    background-color: orange;
    padding: 15px;
    width: 40%;
    border: none;
    color: white;
    border-radius: 8px;
}
.login-error{
    color: red;
    background-color: rgb(244, 162, 162);
    font-size:large;
    font: bold;
    text-align: left;

}
.forgot-error{
    color: red;
    background-color: rgb(244, 162, 162);
    font-size:large;
    font: bold;
    text-align: left;

}
.signup-error{
    color: red;
    background-color: rgb(244, 162, 162);
    font-size:large;
    font: bold;
    text-align: left;

}
.successfull-login{
    color: green;
    background-color: lightgreen;
    font-size: large;
    font: bold;
}
.successfull-signup{
    color: green;
    background-color: lightgreen;
    font-size: large;
    font: bold;
}